* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  color: white;
  overflow-x: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.container {
  position: absolute;
  margin-left: 10vw;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
}

p {
  font-size: 2rem;
  width: 55%;
  margin: 0.5rem;
  color: rgb(107, 107, 122);
}
